<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <nz-list>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="'.'">Pricing</a></li>
          <li><a routerLink="/booksession">Book a session</a></li>
          <li><a routerLink="'.'">Blog</a></li>
        </nz-list>
      </div>
      <div fxFlex="55">
        <h4>Our Contact</h4>
        <address style="font-size: 80%">
          <i nz-icon nzType="phone" nzTheme="outline"></i>: +234 913 7700 528<br>
          <i nz-icon nzType="mail" nzTheme="outline"></i>:
          <a href="mailto:mycodingmentor9@gmail.com">mycodingmentor9@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a nz-button nzType="primary" nzShape="circle" class="btn-facebook" href="http://www.facebook.com/uwemuke"><i nz-icon nzType="facebook" nzTheme="outline"></i></a>
      <a nz-button nzType="primary" nzShape="circle" class="btn-linkedin" href="http://www.linkedin.com/in/uwem-uke-9a6b06125/"><i nz-icon nzType="linkedin" nzTheme="outline"></i></a>
      <a nz-button nzType="primary" nzShape="circle" class="btn-twitter" href="http://twitter.com/uwemuke"><i nz-icon nzType="twitter" nzTheme="outline"></i></a>
      <a nz-button nzType="primary" nzShape="circle" class="btn-mail" href="mailto:mycodingmentor9@gmail.com"><i nz-icon nzType="mail" nzTheme="outline"></i></a>
    </div>
  </div>
  <div>
      <p>Copyright © 2021 My Code Mentor</p>
  </div>
</div>