<ul nz-menu nzMode="horizontal" role="navigation">
    <li nz-menu-item>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li nz-menu-item>
      <a routerLink="'.'" routerLinkActive="active">Pricing</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/booksession" routerLinkActive="active">Book a Session</a>
    </li>
    <!--<li nz-menu-item>
      <a routerLink="'.'" routerLinkActive="active">Blog</a>
    </li>-->
    <li nz-submenu nzTitle="Account" nzIcon="caret-down">
      <ul>
        <!--<li nz-menu-item><a routerLink="'.'" routerLinkActive="active">Dashboard</a></li>-->
        <li nz-menu-item><a routerLink="/login" routerLinkActive="active">Sign in</a></li>
      </ul>
    </li>
</ul>