.login-form {
  margin-top: 60px;
  width: 100% !important;
}
@media screen and (min-width: 500px) {
  .login-form {
    max-width: 300px;
  }
}

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  i {
    cursor: pointer;
  }

  #login-div {
    display: flex;
    align-items: center;
  }

  ///
.logo-div {
  color: rgb(228, 255, 248);
  background: linear-gradient(270deg, #1bbd94, #023024);
}
.logo-div img {
    width: 15%;
    height: 15%;
}
@media screen and (max-width: 768px) {
    .logo-div {
        display: none;
    }
}

.navbar-div {
    display: flex;
    align-items: flex-end;
    min-height: 80px;
    //background-color: aqua;
}

.alert {
  height: 5px;
}

nz-alert {
    width: 100%;
}
@media screen and (min-width: 700px){
  nz-alert {
      width: 50%;
  }
}