<div class="container">
  <h3 style="margin-top: 50px;">Login</h3>
  <hr>
  <div class="alert">
    <nz-alert *ngIf="message" nzType="warning" nzMessage="{{message}}" nzShowIcon></nz-alert>
  </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-spin [nzSize]="'small'" [nzSpinning]="isSpinning" [nzDelay]="200">
      <div style="color: tomato; font-size: 12px; height: 50px;">{{loginErrMess}}</div>
    
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <nz-input-group nzPrefixIcon="mail">
            <input nz-input 
              type="email" 
              formControlName="email" 
              placeholder="Email" 
              autocomplete="email"
            />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')">Input is not valid E-mail!</ng-container>
              <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="input password"
            formControlName="password"
            autocomplete="current-password"
          />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('minlength')">Password must be at least 8 characters long!</ng-container>
            <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
          </ng-template>
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
      Or
      <a routerLink="/signup">register now!</a>
    </nz-spin>
    </form>
</div>