
<div class="container signup-div"> 
  <h3 style="margin-top: 100px;">Sign Up</h3>
  <hr>
    <form nz-form [formGroup]="validateForm" autocomplete="on" (ngSubmit)="submitForm(validateForm.value)">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>First Name</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="firstnameErrorTpl">
            <input nz-input formControlName="firstname" placeholder="First Name" />
            <ng-template #firstnameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your firstname!</ng-container>
              
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Last Name</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="lastnameErrorTpl">
              <input nz-input formControlName="lastname" placeholder="Last Name" />
              <ng-template #lastnameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your lastname!</ng-container>
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" placeholder="email" type="email" />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">The email is taken!</ng-container>
              <ng-container *ngIf="control.hasError('AbortSignal')">No internet connection!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
            <input nz-input type="password" autocomplete="new-password" id="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
        <div id="already-signed-up">
          Already signed up? <a routerLink="/login">Log in!</a>
        </div>
      </form>
</div>