#nzcollapse {
    margin-bottom: 0 !important;
    color: wheat;
    background: linear-gradient(270deg, #1bbd94, #023024);
}

.nav-item .nav-link {
    color: wheat;
    font-weight: 500;
}

/*.collapse {
    text-align: center;
}*/

.collapse ul li {
    border-bottom: 1px solid wheat;
}